@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
		 url("../fonts/ptsans.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans Bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
		 url("../fonts/ptsansbold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


body {
	font: normal 14px "PT Sans", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	
	background: #eaeaea;
	color: #333;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;

	background: #fff;
}

.main-header {
	position: relative;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
	font-size: 0;
}

.main-navigation li {
	width: 20%;
	display: inline-block;
	padding: 15px 0;

	text-align: center;
	vertical-align: top;
}

.main-navigation a {
	font: bold 14px "PT Sans Bold", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 26px;

	color: #000;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #000;
	opacity: 0.3;
}

.index-welcome {
	position: relative;

	height: 510px;

	background: url("../img/main-picture.jpg") no-repeat;
	background-position: 50% 20%;
}

.index-welcome img {
	position: absolute;
	bottom: 0;

	width: 100%;
}

.main-title {
	width: 575px;
	margin: 60px auto 30px;

	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;

	color: #000;
}

.after-main-title {
	margin-bottom: 55px;

	font: normal 14px "PT Sans", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;

	color: #333;
}

.causes-item {
	height: 255px;
	overflow: hidden;
	background: #81b3d2;
	color: #fff;
}

.causes-text {
	width: 34%;
	float: left;
	text-align: center;
}

.causes-title {
	width: 240px;
	margin: 50px auto 25px;
	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
}

.causes-img {
	width: 66%;
	float: left;

	background-position: bottom;
}

.service-item {
	width: 33%;
	float: left;
	padding-bottom: 60px;

	text-align: center;
}

.features {
	background: #eee;
}

.features-item {
	width: 33%;
	float: left;
	padding-bottom: 60px;

	text-align: center;
}

.feedback {
	padding-bottom: 135px;
}

.interest {
	margin: 55px auto 35px;
	font: bold 30px "PT Sans Bold", "Arial", sans-serif;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

.feedback p {
	font: normal 14px "PT Sans", "Arial", sans-serif;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	
	color: #333;
}

.application {
	width: 570px;
	height: 480px;
	border: 2px solid black;
}

.application-form-header {
	padding: 30px 0;

	text-align: center;

	background: #766357;
}

.application-title {
	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 26px;

	color: #fff;
}

.map {
	height: 470px;
	overflow: hidden;
}

.condition-choice {
	background: url("../img/hotels-background.jpg") no-repeat;
	background-position: 50% 15%;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	margin-top: 30px;
	line-height: 20px;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "\2610";
	position: absolute;
	top: 0;
	left: 0;

	width: 10px;
	height: 10px;

	font-family: "symbols-sedona";
	font-size: 24px;
}

input[type="checkbox"]:checked + label::before {
	content: "\2611";
}

input[type="checkbox"]:disabled + label::before {
	content: "\2610";
	color: #6a6a6a;
}

input[type="checkbox"]:checked:disabled + label::before {
	content: "\2611";
	color: #6a6a6a;
}

.filter-group {
	width: 190px;
	float: left;
	padding: 30px 0 30px 6%;

	font: normal 14px "PT Sans", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	
	color: #fff;
}

.filter-title {
	margin-bottom: 9px;

	font: bold 16px "PT Sans Bold", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	
	color: #fff;
}

.cost {
	width: 330px;
	float: right;
	padding: 30px 70px 30px 0;

	text-transform: uppercase;

	color: #fff;
}

.cost-value {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;


	border: 2px solid #ffffff;
	border-radius: 2px;
}

.cost-value label {
	display: inline-block;

	font: 14px "PT Sans Bold", "Arial", sans-serif;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.cost-value::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.cost-value .min-price,
.cost-value .max-price {
	width: 90px;
	padding-left: 65px;
}

.cost-value input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
	outline: none;
}

.cost-range {
	position: relative;

	margin-bottom: 32px;
}

.cost-range .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.cost-range .bar {
	width: 80%;
	height: 2px;

	background: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-choice {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #fff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.btn-choice:hover {
	color: #000;

	background: #fff;
}

.search-results {
	padding: 30px 70px;
}

.found {
	display: inline;
	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	
	color: #000;
}

.sort {
	margin-left: 50px;

	font: normal 12px "PT Sans", "Arial", sans-serif;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #000;
}

.search-results ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	
	font-size: 0;
}

.search-results li {
	margin-left: 30px;
	display: inline-block;
	vertical-align: bottom;

	font: normal 12px "PT Sans", "Arial", sans-serif;
	line-height: 18px;
	text-transform: uppercase;
	
	color: #81b3d2;
}

.search-results a {
	text-decoration: none;
	border-bottom: 1px dashed #000;

	color: #000;
	opacity: 0.3;
}

.search-results a:hover {
	text-decoration: none;
	border-bottom: 1px dashed #000;

	color: #81b3d2;
}

.search-results a:active {
	text-decoration: none;

	color: #000;
}

.arrows {
	font-size: 18px;
	text-align: right;

	color: #000;
	opacity: 0.3;
}

.arrows span:hover {
	color: #000;
}

.arrows span:active {
	color: #81b3d2;
}

.hotel-item {
	padding: 30px 70px;
	border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-left-part {
	width: 135px;
	float: left;
}

.hotel-middle-part {
	width: 650px;
	float: left;
	margin-left: 30px;
}

.hotel-right-part {
	width: 240px;
	float: right;
	text-align: right;
}

.hotel-name {
	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #000;
	opacity: 0.3;
}

.hotel-info-part {
	float: left;
	width: 110px;
	margin-right: 5px;

	font: 14px "PT Sans", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;

	color: #000;
}

.more {
	padding: 5px 15px;
	font: bold 14px "PT Sans Bold", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	text-decoration: none;
	
	background: #81b3d2;
	color: #fff;
}

.more:hover {
	background: #669ec0;
}

.more:active {
	background: #5496bd;
}

.more:active span {
	color: #fff;
	opacity: 0.3;
}

.reserve {
	padding: 5px 15px;
	font: bold 14px "PT Sans Bold", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	text-decoration: none;
	
	background: #766357;
	color: #fff;
}

.reserve:hover {
	background: #604e43;
}

.reserve:active {
	background: #503e33;
}

.reserve:active span {
	color: #fff;
	opacity: 0.3;
}

.stars span {
	font-size: 18px;

	color: #81b3d2;
}

.rating {
	display: inline;
	padding: 3px 15px;

	font: 14px "PT Sans", "Arial", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	text-align: right;
	vertical-align: bottom;

	background: #f2f2f2;
	color: #000;
}

.footer-hashtag {
	float: left;
	width: 240px;
	margin: 50px 90px 50px 70px;
	font: bold 21px "PT Sans Bold", "Arial", sans-serif;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}

.footer-social {
	float: left;
	width: 400px;
	margin: 35px 0;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-right: 6px;

	vertical-align: bottom;
	font-size: 0;
	text-align: center;
	text-decoration: none;

	background: #81b3d2;
}

.social-btn span {
	font-size: 20px;
	line-height: 45px;

	color: #fff;
}

.social-btn:hover {
	background: #669ec0;
}

.social-btn:active {
	background: #5496bd;
}

.social-btn:active span {
	color: #88b6d1;
}

.footer-copyright {
	float: right;
	width: 240px;
	margin: 40px 70px 40px 0;
	text-align: center;
}

.copyright {
	display: block;
	width: 113px;
	height: 39px;

	font-size: 0;

	background: url("../img/HTMLacademy-sprite.png") no-repeat;
	background-position: 0 0;
}

.copyright:hover {
	background-position: 0 -56px;
}

.copyright:active {
	background-position: 0 -112px;
}

